<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Soloviool</h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>Soloviool is een prachtige optie voor alles, van de meest intieme bijeenkomsten tot grotere bruiloften met meer dan 100 personen. 
            Het is een veelzijdig instrument dat tegelijkertijd zwevende melodieën en harmonieën kan spelen.

        </p>
        <img src="img/churchWeddingSmall.jpg" alt="Violinist performs romantic songs at a wedding cocktail hour and reception in Amsterdam, Netherlands">
        <iframe class="video" src="https://www.youtube.com/embed/OfoqvqPQCaI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Duo Viool en Cello
        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i>
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>
            Als leden van de strijkinstrumentenfamilie vullen de viool en cello elkaar qua geluid perfect aan. Met het vioolspel
                         de melodie en de cello die de baslijn speelt, dit expressieve en dynamische duo kan zowat elk nummer uitvoeren.
        </p>
        <iframe class="video" src="https://www.youtube.com/embed/l3sQeKjCjCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Duo Viool en Harp</h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>De harp geeft de muziek een magische en betoverende kwaliteit met zijn overweldigende glissadi en zoete timbre.
            In combinatie met de expressieve melodische kwaliteiten van de viool is het resulterende ensemble onweerstaanbaar.
        </p>
        <img src="img/harp3Small.jpg" alt="harpist and violinist perform at a wedding in Amsterdam, Netherlands">
        <iframe class="video" src="https://www.youtube.com/embed/dmoNcAsY17U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Duo Viool en Piano</h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>Een klassieke combinatie met een lange geschiedenis en een uitgebreid repertoire, het duo viool en piano produceert vaak de meest getrouwe
            vertolkingen van de originele muziek, of het nu rock, pop of klassiek is. Dankzij het orkestrale bereik van de piano en
            Door de mogelijkheid om meerdere delen tegelijk te spelen, legt dit duo vaak alle delen van het originele nummer op spectaculaire wijze vast.

        </p>
        <img src="img/lanceWisemanRecitalSmall.jpg" alt="Violin and piano duo performing classical and romantic music at a recital and concert with reception.">
        <iframe class="video" src="https://www.youtube.com/embed/smSvZD7BCpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>