<footer id="footer" class="row">
    <div class="copyright col-3">
        <p id="copyright"></p>
        <!--<p id="footer-sub-text"><b>{</b> Coded from scratch with HTML, CSS, and Javascript <b>}</p>-->
    </div>
    
    <div class="col-5"></div>

    <div class="social-icons col-4">
        <div class="row social-icons-row">
            <div class="footer-icon-container col-3"><a href="https://www.youtube.com/channel/UCb46nljnneXaQCa5wKYsbWA" target="_blank"><i class="fa-brands fa-youtube fa-lg"></i></a></div>
            <div class="footer-icon-container col-3"><a href="https://github.com/MichaelShingo" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a></div>
            <div class="footer-icon-container col-3"><a href="https://www.linkedin.com/in/michael-shingo-crawford-44577283/" target="_blank"><i class="fa-brands fa-linkedin fa-lg" ></i></a></div>
            <div class="footer-icon-container col-3"><a href="https://www.facebook.com/MichaelShingo" target="_blank"><i class="fa-brands fa-facebook  fa-lg"></i></a></div>
        </div>

     </div>


    
    

</footer>