<nav class="navigation">
    <ul class="off-screen" id="menu-items">
        <li class="menu-item"><a href="index">Home</a></li>
        <li class="menu-item"><a href="biography">Bio</a></li>
        <li class="menu-item"><a href="portfolio">Portfolio</a></li>
        <li class="menu-item"><a href="violinist">Violinist</a></li>
        <li class="menu-item"><a href="lessons">Lessons</a></li>
        <li class="menu-item"><a href="contact">Contact</a></li>

    </ul>

    <div class="menuContainer" id="menuContainer" style="background-color: <%= navColor %>;">

        <div class="hamburgerContainer" id="hamburgerContainer">
            <div class="hamburgerLine" id="line1"></div>
            <div class="hamburgerLine" id="line2"></div>
            <div class="hamburgerLine" id="line3"></div>
            <div class="hamburgerLine" id="line4"></div>  
            <div class="hamburgerLine" id="line5"></div> 
        </div>
    </div>
</nav> 
<header class="header">
                
            <div id="progress-container" style="visibility: <%= logoTextVisibility %> !important;">
                <div class="progress-bar" id="myBar"></div>
            </div>

            <a class="header-link" href="./index">
                <div class="header-logo" id="logo">
                    <div id="logo-box">
                        <div class="logo-bracket" id="left-bracket">{</div>
                        <div id="logo-strings">
                            <div class="logo-string" id="string-1"></div>
                            <div class="logo-string" id="string-2"></div>
                            <div class="logo-string" id="string-3"></div>
                            <div class="logo-string" id="string-"></div>
                        </div>
                        <div class="logo-bracket" id="right-bracket">}</div>
                    </div>
                </div>
            </a>
            <a class="header-link" href="./index" style="visibility: <%= logoTextVisibility %>;">
                <h6 id="logo-name" >
                    Michael<br>Shingo<br>Crawford
                </h6>
            </a>


        </header>