<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Do you take song requests?
        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>Yes, if you would like to hear a song that is not on my list, feel free to let me know, and I will see if it is possible. 
            Generally, as long as I can locate and purchase sheet music, I will be able to play it.
        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>How do we select songs for our wedding?</h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i>
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>Couples will typically select specific songs that they would like to hear during the ceremony and leave the musicians to select appropriate music for the prelude and cocktail hour. 
            Feel free to give me a general direction to go in for these open segments, such as "a mix of popular and classical music", "oldies", or "classical music only."
            During the ceremony, you can make one selection for the wedding party procession, one song for the bride's procession, and another song for the recessional.
        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Do you play with backing tracks?</h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>No – for my solo service, I play violin without a backing track. As an arranger, I can be very creative with what’s possible on one violin. 
            To get an idea of what I mean, watch my video <a href="https://www.youtube.com/watch?v=z1vmZLW_9kk" target="_blank">here</a>. If you would like accompaniment, you can always ask me to bring a second musician! 
            The ensembles I most commonly perform in are violin and cello duo, violin and harp duo, and violin and piano duo.

        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Do you have amplification with speakers or other audio equipment?</h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>No, I do not have amplification. However, the acoustic violin projects very well and can be heard in both outdoor and indoor settings even at larger events of 100 people or more. 
            If there are other musicians playing with me, this only increases the projection.
        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>Is prelude music included in the ceremony?
        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>No, prelude music would be extra time, so be sure to let me know how much prelude music you would like!

        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>How long is each part of the ceremony?
        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>Prelude music is typically 15-30 minutes – just long enough to cover the time when people are arriving and being seated. 
            The ceremony usually lasts for around 30 minutes. The cocktail hour is flexible – 1 hour is very common, but shorter and longer times are possible as well.


        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>What kind of weather conditions can you play in?
        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>The ideal playing conditions for me would be clear weather between 55-85 degrees. 
            There is some leeway with the temperature and I can still put on a great performance given some preparation. 
            For example, in cold weather, I would dress warmly and use fingerless gloves. If a heater can be provided at the event, it makes my job a lot easier. 
            If there is any precipitation, I will need a covered area to play in, since string instruments are easily damaged by water.
        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>How far are you willing to travel?

        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>I am available to travel to most locations in the Netherlands, and sometimes internationally, depending on type of event. For shorter events (1 hour or less), 
            I usually perform in the Rotterdam, Den Haag, Amsterdam, or Utrecht area that is accessible by public transportation. For longer events or concert bookings, I 
            am able to travel further depending on the compensation. When the travel is lengthy, it’s best if you can have me play for a longer period of time. 
            In any case, get in touch with me to discuss what’s possible!

        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>How do you handle payments?

        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>I accept payment via Tikkie or cash. Other payment methods may be possible upon request.
        </p>
    </div>
</section>

<section class="collapsible-items">
    <div class="collapsible-title">
        <h3>How do we book you?
        </h3>
        <div class="icon-container">
            <span class="plus-icon">
                <i class="far fa-plus-square fa-2x"></i> <!-- change to fa-minus-square on click-->
            </span>
        </div>
    </div>

    <div class="collapsible-content hide">
        <p>For weddings and other larger events, I send a contract which finalizes everything that we have discussed. After that’s signed, we are all set. 

        </p>
    </div>
</section>