<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA_Compatible" content="IE=edge">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <title><%= title %></title>
        <%- include('./partials/styles.ejs') %>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include('./partials/head.ejs') %>
                <main class="main-content">
                    <h1>Biography</h1>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            Michael Shingo Crawford is a software developer and musician who functions within the intersections of tech and music, building applications that empower musicians to excel. Through his years of working as a professional musician, Michael has come to understand musicians' needs for technology that helps them advance their craft and careers.<br><br>

                            To this end, Michael has collaborated with Creative Baggage, a podcast that gives voice to the struggles of pursuing a career in the arts, where he helped develop a curated database of opportunities on a site that receives thousands of visitors every year. In the works is BookMi, a web application that allows musicians and their clients to interface with each other in a streamlined way. In additional to his music tech pursuits, Michael has developed a web app for the Vitale Digital Media Lab at the University of Pennsylvania that automates data processing and data visualization and has contributed to open source projects in civic tech through Code for Philly. He has worked with programming languages including Python, Javascript, and Java using technologies that include Velo by Wix, Flask, Node.js, and Android Studio.<br><br>
                            
                            Michael's musical work divides into several closely tied disciplines. As a composer, his music tackles quirky subject matter with a tinge of the supernatural, often drawing inspiration from his Japanese heritage. Michael’s compositions have been presented by performers including the Network for New Music, PRISM Quartet, Sound Energy Trio, Philadelphia Orchestra Musicians, and the Vega String Quartet. His affinity for collaboration has led him to work with librettists, choreographers, and filmmakers as part of projects that fostered creative dialogue between disciplines and served as breeding grounds for new ideas. Michael holds a Master’s in Music Composition from Temple University, where he studied with Jan Krzywicki, Emiliano Pardo-Tristan, and Adam Vidiksis.<br><br>
                            
                            As a violinist, Michael is passionate about recording his compositions and arrangements of anime music, which he shares on his Youtube channel which has reached well over one million views. He merges the worlds of traditional and contemporary classical music with anime music by creating arrangements that utilize the full palette of violin technique. His compositional training inspires unique takes on well-known soundtracks, to which he adds his personal flair.<br><br>
                            
                            In addition booking over 100 events every year through his freelancing business, Michael’s engagements include performances with the Philadelphia Virtuosi as well as the World Congress for Information Technology Orchestra in Yerevan, Armenia. He has performed with ENAensemble and Alter Ego Chamber Opera, both opera companies that bring fresh takes on the operatic medium. He has served as concertmaster of the Emory University Symphony Orchestra and was the winner of its 2015-2016 Concerto and Aria Competition with his performance of the Barber Violin Concerto. Over the summers, he has attended the WestBen Performer-Composer Residency, zFestival, Dalí Quartet International Music Festival, Fresh Inc Festival, Eastern Music Festival, and the National Symphony Orchestra Summer Music Institute. He teaches violin and piano lessons in his private studio, which has attracted online students from several countries, including Australia and Singapore.
                            
                            

                        </div>
                        <div class="col-3"></div>
                    </div>
                    
                </main>
            </div>
            <%- include('./partials/footer.ejs') %>
        </div> 
    </body>
    <script src="index.js" type="text/javascript" defer></script>
</html>