<div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        A robustly-featured web metronome with support for subdivisions, polyrhythms, and more. Built with Next.js, Typescript, and Tone.js.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://metronome.michaelshingo.com/"
          class="fa-solid fa-music fa-lg"
          target="_blank"
        ></a>
        <a
          href="https://github.com/MichaelShingo/metronome"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>

        <a
          href="/miitronome"
          class="fa-solid fa-circle-info fa-lg"
        ></a>
      </div>
    </div>
    <img
      class="portfolio-img"
      src="./img/miitronomeLogo.jpg"
      alt="An online metronome."
    />
  </div>
  <div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        Violintice is a React/Django application that helps violinists
        track their progress and gives them insights into their
        practice.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://violintice.michaelshingo.com/"
          class="fa-solid fa-music fa-lg"
          target="_blank"
        ></a>
        <a
          href="https://github.com/MichaelShingo/practiceApp"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>

        <a
          href="/violintice"
          class="fa-solid fa-circle-info fa-lg"
        ></a>
      </div>
    </div>
    <img
      class="portfolio-img"
      src="./img/violintice-logo.jpg"
      alt="Django Rest Framework API that integrates with OpenAI."
    />
  </div>
  <div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        An internal admin application for Panethnic Pourovers, a
        non-profit cafe and library in Boston, MA that serves the
        local community.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://panethnicpourovers.org"
          class="fa-solid fa-mug-hot fa-lg"
          target="_blank"
        ></a>
        <a
          href="https://github.com/Panethnic-Pourovers/admin"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>
        <a
          href="/panethnic"
          class="fa-solid fa-circle-info fa-lg"
        ></a>
      </div>
    </div>
    <img
      class="portfolio-img"
      src="./img/pepo-logo.jpg"
      alt="Django Rest Framework API that integrates with OpenAI."
    />
  </div>
  <div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        The Creative Baggage AI Data Processor is an API built using
        Django Rest Framework that completely automates data
        collection and processing for the Creative Baggage database.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://github.com/MichaelShingo/cbaiscraper"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>
        <a
          href="/cbaiscraper"
          class="fa-solid fa-circle-info fa-lg"
        ></a>
      </div>
    </div>
    <img
      class="portfolio-img"
      src="./img/cbaiscraper.jpg"
      alt="Django Rest Framework API that integrates with OpenAI."
    />
  </div>
  <div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        A web app used at University of Pennsylvania's Vitale Digital
        Media Lab to automate repetitive workflows and store, analyze,
        and visualize data. Built with Python/Flask and SQLite.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://www.library.upenn.edu/detail/libraryspaces/vitale-digital-media-lab"
          class="fa-solid fa-database fa-lg"
          target="_blank"
        ></a>
        <a
          href="https://github.com/MichaelShingo/VDML"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>
        <a href="/VDML" class="fa-solid fa-circle-info fa-lg"></a>
      </div>
    </div>
    <img
      class="portfolio-img"
      src="./img/vdmlLogo.jpg"
      alt="Database of opportunities for classical musicians in Javascript and Velo by Wix."
    />
  </div>
  <div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        CardMi is a flashcard app that provides all the basic features
        necessary for effective study, including a minimalist
        environment for focus, the option to mark terms as studied,
        and sort and shuffle your deck to mix up your routine. Coded
        in Java with Android Studio.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://play.google.com/store/apps/details?id=com.michaelshingo.flashcards&hl=en_US&gl=US"
          class="fa-brands fa-google-play fa-lg"
          target="_blank"
        ></a>
        <a
          href="https://github.com/MichaelShingo/CardMi"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>
        <a href="/cardmi" class="fa-solid fa-circle-info fa-lg"></a>
      </div>
    </div>
    <img
      class="portfolio-img"
      src="./img/cardmiLogo.jpg"
      alt="Flashcard app coded in Java logo, Android Studio."
    />
  </div>

  <div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        Inspired by a desire to find practical solutions to improve
        the lives of the creative community, "For the Lost Creative"
        by Creative Baggage is a curated database of free
        opportunities for musicians and artists. Coded with Javascript
        and Velo by Wix. Opportunities populated using Python web
        scraping scripts.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://www.forthelostcreative.com"
          class="fa-solid fa-suitcase fa-lg"
          target="_blank"
        ></a>
        <a
          href="https://github.com/MichaelShingo/opportunityScraper"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>
        <a
          href="/creative-baggage"
          class="fa-solid fa-circle-info fa-lg"
        ></a>
      </div>
    </div>
    <img
      class="portfolio-img"
      src="./img/creativeBaggageLogo.jpg"
      alt="Database of opportunities for classical musicians in Javascript and Velo by Wix."
    />
  </div>

  <div class="portfolio-container">
    <div class="portfolio-overlay">
      <p class="portfolio-description">
        This website is built with HTML, SCSS, Javascript, and
        Node.js. It applies SEO principles to rank in search results
        and generates organic traffic and leads for my freelance work.
      </p>
      <div class="portfolio-social-icons">
        <a
          href="https://michaelshingo.com"
          class="fa-solid fa-globe fa-lg"
          target="_blank"
        ></a>
        <a
          href="https://github.com/MichaelShingo/websiteMichaelShingo"
          class="fa-brands fa-github fa-lg"
          target="_blank"
        ></a>
        <a
          href="/personal-website"
          class="fa-solid fa-circle-info fa-lg"
        ></a>
      </div>
    </div>
    <img
      class="portfolio-img website-logo"
      src="./img/michaelShingoLogoPortfolio.jpg"
      alt="Database of opportunities for classical musicians in Javascript and Velo by Wix."
    />
  </div>

  <!-- <div class="portfolio-container">
                  
                  <div class="portfolio-overlay">
                      <p class="portfolio-description">BookMi is a MERN application that streamlines communication between musicians and their clients who book them for events (In Progress).
                      </p>
                      <div class="portfolio-social-icons">
                          <a href="https://github.com/MichaelShingo/bookmi" class="fa-brands fa-github fa-lg" target="_blank"></a>
                          <a href="/bookmi" class="fa-solid fa-circle-info fa-lg"></a>
                      </div>
                  </div>
                  <img class="portfolio-img" src="./img/bookMiTempLogo.jpg" alt="Database of opportunities for classical musicians in Javascript and Velo by Wix."/>
              </div> -->
</div>