<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="Contact Netherlands-based violinist Michael Shingo Crawford about booking for weddings, events, and violin lessons.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <%- include('./partials/styles.ejs') %>
    </head>
    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include('./partials/head.ejs') %>
                <main class="main-content">
                    <h1>Contact</h1>
                    <!-- <h2>Contact Michael about:</h2> -->
                    <!-- <ul>
                        <li>Coding opportunities.</li>
                        <li>Booking for weddings, events, and concerts.</li>
                        <li>Private lessons in violin, piano, composition, and music theory.</li>
                        <li>Commissioning a composition or arrangement.</li>
                        <li>Requesting score and parts.</li>
                        <li>Any other questions or comments you may have.</li>
                    </ul> -->
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <p class="">I am currently located in <b>Rotterdam, Netherlands</b>. Contact me about coding opportunities, booking for events, music lessons, commissioning a piece, requesting scores, or
                                anything else you have on your mind.
                            </p>
                            <form class="" onsubmit="sendEmail(); reset(); return false;" id="general-contact">
                                <p class="small-p">Fields marked with <span class="asterisk">*</span> are required.</p>
        
                                <label for="name">Name:<span class="asterisk">*</span></label>
                                <input class="text-input" type="text" id="name" >
                                <label for="email">Email:<span class="asterisk">*</span></label>
                                <input class="text-input" type="email" id="email" >
                                <label for="subject">Subject:<span class="asterisk">*</span></label>
                                <input class="text-input" type="text" id="subject" >
                                <label for="message">Message:<span class="asterisk">*</span></label>
                                <textarea id="message" name="message" rows="10" cols="40" placeholder=""></textarea>
                                <button class="submit" type="submit">Submit</button>
                            
                                
                            </form>
                            <p class="form-message"></p>
                        </div>
                        <div class="col-3"></div>
                    </div>
                    
                </main>
            </div>
            <%- include('./partials/footer.ejs') %>
        </div>
        
        <script src="index.js" type="text/javascript" async defer></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            
        </script>
    </body>
</html>
