<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA_Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Read more about violinist Michael Shingo Crawford performing weddings, concerts, events, and teaching lessons in the Netherlands."
    />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <title><%= title %></title>
    <%- include('./partials/styles.ejs') %>
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <%- include('./partials/head.ejs') %>
        <main class="main-content">
          <h1>Panethnic Pourovers Admin App</h1>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <!-- <div class="">
                                <iframe class="video" src="https://www.youtube.com/embed/aX13onIluhU" title="YouTube video player" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                allowfullscreen></iframe>
                            </div> -->
              <img
                class="portfolio-detail-img"
                src="./img/pepo-logo.jpg"
                alt="Django Rest Framework API that integrates with OpenAI."
              />
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <div class="project-page-social">
                <a
                  href="https://panethnicpourovers.org"
                  class="fa-solid fa-mug-hot fa-lg"
                  target="_blank"
                ></a>
                <div></div>
                <a
                  href="https://github.com/Panethnic-Pourovers/admin"
                  class="fa-brands fa-github fa-lg"
                  target="_blank"
                ></a>
              </div>
            </div>
            <div class="col-4"></div>
          </div>
          <div class="row">
            <div class="col-6">
              <h2>Implementation</h2>
              <p></p>
              <p>
                This application is built with Next.js, React.js, Typescript,
                Prisma, Material UI, and MySQL. I have translated Figma design
                specifications into code while collaborating remotely with a
                team of five developers using an Agile/Scrum workflow. I am
                participating in the development process from the initial setup
                stages to deployment, while contributing major portions of the
                API, database schema, design, and front-end functionality.
                Throughout this process, I have received and given feedback on
                writing clean, maintainable, and scalable code. This opportunity
                has given me the chance to work in a highly collaborative
                environment with stand-ups, sprint planning, and retrospectives.
              </p>
              <p></p>
            </div>
            <div class="col-6">
              <h2>Features</h2>
              <p>
                Panethnic Pourovers is a Massachusetts-based non-profit that
                provides the local community with increased access to education,
                resources, & art that is accessible to and reflective of
                underrepresented cultures and identities. They have a focus on
                the Asian-American & Pacific Islander (AAPI) community, but
                provide individuals of all backgrounds & identities with a space
                in which to find safety and solace.
              </p>
              <p>
                This internal admin application is for use by staff to manage
                bookings of library materials and handle staff scheduling.
              </p>
            </div>
            <div class="col-3"></div>
          </div>
        </main>
      </div>
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
  <script src="index.js" type="text/javascript" defer></script>
</html>
