@media (max-width: 1300px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 900px) {
    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1300px) {
    .row {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    img {
        max-width: 90vw !important;
    }

}

@media only screen and (max-width: 1000px) {
    //for tablets
    form {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 90%;
    }
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 2.5rem !important;
    }
    form {
        width: 90%;
    }
    .text-input, textarea{
        max-width: 120% !important;
    }
    #footer {
        display: block;
    }
    #content-wrap{
        padding-bottom: 400px !important;
    }
    // #footer {
    //     grid-template-columns: repeat(1, 1fr);
    //     .social-icons{ //container for all icons
    //         grid-template-columns: repeat(1, 1fr) !important;
    //         gap: 5px;
    // }


    // p {
    //     font-size: 1.35rem !important;
    // }
    // .small-p {
    //     font-size: 1.2rem !important;
    // }
}
  
